<div class="text-center h3 about">
  <p>＊作家紹介＊</p></br>
  <p>当サイトの商品（ガラス作品）を作られている作家について紹介します。</p></br>
  <p>福岡を拠点に7年前から活動しており、主にガラスのハンドメイド作品を作られています。</p></br>
  <p>※インスタグラムもされておりますので、ご興味のある方はぜひご覧ください</p>
</div>