<div class="container">
  <div class="p-3 text-black">
        <span class = "bg-light pr-3 pl-3 h5">会員一覧</span>
  </div>

  <div class="row">
    <table width="100%">
      <thead>
        <tr>
          <th class="pt-2 pr-4 pl-4 pb-2" th bgcolor="lemonchiffon">会員ID</th>
          <th class="pt-2 pr-4 pl-4 pb-2" th bgcolor="lemonchiffon">氏名</th>
          <th class="pt-2 pr-4 pl-4 pb-2" th bgcolor="lemonchiffon">メールアドレス</th>
          <th class="pt-2 pr-4 pl-4 pb-2" th bgcolor="lemonchiffon">ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @customers.each do |customer| %>

        <tr>
          <td class="p-3"><%= customer.id %></td>
          <td class="p-3"><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id)%></td>
          <td class="p-3"><%= customer.email %></td>
          <td class="p-3">
            <% if customer.is_deleted %>
              <span class=text-secondary>退会</span>
            <% else %>
              <span class=text-success>有効</span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>