@use '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'sirokuma';
  src: url('../fonts/001Shirokuma-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
/*javascript側の記述ファイルに寄せている*/

.font-size{
  font-size:7px;
}

.about{
  margin-top:200px;
}

.confirm{
  margin-top:200px;
}

.thanks{
  margin-top:200px;
}

body{
  font-family:"sirokuma";
  display: flex;
  flex-direction: column;
 	min-height: 100vh;
}

main {
  flex: 1;
}

/*display:flexを使用(最近のcssは[display]か[grit]が主流)*/
/*[absolute]は極力使わない方がいい*/

.lightgreenbotton{
  background-color: lightgreen;
  border: 1px solid black;
  color: white;
  /*background-colorで背景色を指定 borderで枠線関連を指定 colorで文字の色を指定*/
}